# Coverage directory used by tools like jest
coverage/
*.lcov

# Node modules
node_modules/

# Environment files
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache